<template>
    <div class="control-component">
        <p>
            <input class="datepicker" type="text" data-provide="datepicker" data-date-format="mm/dd/yyyy"
                   id="{{fields.column.value}}"
                   name="{{fields.column.value}}"
                   placeholder="{{fields.placeholder.value}}"
                   title="{{fields.placeholder.value}}"
                   required="{{fields.required.value}}"
                   css="{{fields.inputsize.value + ' ' + fields.color.value}}"
                   />
            <!-- style.color="{{fields.color.value}}" -->
        </p>

    </div>
</template>
